<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title></title>
    <link rel="stylesheet" href="http://127.0.0.1:8008/static/css/main.css">
    <link rel="stylesheet" href="http://127.0.0.1:8008/static/css/country.css">
    <link rel="stylesheet" href="http://127.0.0.1:8008/static/css/icon.css">
</head>
<body>
    <div class="content">
        <div>
            <img src="http://127.0.0.1:8008/static/images/header.png" class="header-image">
            <table cellpadding="0" cellspacing="0" class="data-list-table">
                <tr>
                    <th class="domain-cell"></th>
                    <th class="vertical-cell">Vertical</th>
                    <th class="platform-cell">Device</th>
                    <th class="size-cell">Size</th>
                    <th>Countries</th>
                </tr>
                {% for data_item in data %}
                <tr>
                    <td class="domain-cell">
                        {% if data_item.custom_domain_image %}
                          <img src="{{ data_item.custom_domain_image }}" width="50px">
                        {% else %}
                          {% if data_item.show_site_image %}
                            <img src="https://logo.clearbit.com/{{ data_item.domain }}?size=50">
                          {% endif %}
                        {% endif %}
                        <br>
                        {{ data_item.domain }}
                    </td>
                    <td class="vertical-cell">
                        {% for vertical in data_item.verticals %}
                          <div class="vertical-cell-item">
                            {%  if vertical.customVerticalImage %}
                              <img src="{{ vertical.customVerticalImage }}" class="vertical-custom-img">
                            {% else %}
                              <span>
                                  <span class="icon-{{ vertical.name.split|join:"-"|lower }}"></span>
                              </span>
                            {% endif %}
                          {{ vertical.name }}
                          </div>
                        {% endfor %}
                    </td>
                    <td class="platform-cell">
                        {% for platform in data_item.platforms %}
                          <span>
                            <span class="icon-{{ platform.name.split|join:"-"|lower }}"></span>
                          </span>
                        {% endfor %}
                    </td>
                    <td class="size-cell">
                        {{ data_item.sizes|join:" / " }}
                    </td>
                    <td class="country-cell">
                      <div>
                        {% if forloop.counter0|divisibleby:2 %}
                          {% for geo in data_item.geos %}
                            {% if geo.customGeoImage %}
                              <img src="{{ geo.customGeoImage }}" class="geo-custom-img">
                            {% else %}
                              <img src="http://127.0.0.1:8008/static/images/flags/{{ geo.name }}-light.png">
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          {% for geo in data_item.geos %}
                            {% if geo.customGeoImage %}
                              <img src="{{ geo.customGeoImage }}" class="geo-custom-img">
                            {% else %}
                              <img src="http://127.0.0.1:8008/static/images/flags/{{ geo.name }}-dark.png">
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>