<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title></title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/country.css">
    <style>
    html, body {
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
        background: transparent;
        background-color: {{ color }};
    }
    </style>
</head>
<body>
    <span class="country-icon-{{ code }}"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
</body>
</html>